.main-buttons a {
    color: white;
    text-decoration: none;
}

.main-buttons .button {
    border-radius: 7px;
    background-color: var(--navy);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
}

